@font-face {
  font-family: "Doloman Pavljenko";
  src: url(../fonts/DolomanPavljenko.otf);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

p {
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #d2d4da;
  font-family: "Doloman Pavljenko", sans-serif;
  color: black;
  margin: 0px 5%;
  min-height: 100%;
  cursor: default;
  touch-action: manipulation;
}

header {
  display: flex;
  padding: 30px 0;
}

.header__text {
  font-size: 40px;
  font-weight: 500;
  padding-left: 5px;
}

.content__block {
  display: flex;
  margin-bottom: 40px;
}

#add_terms_button=,
.footer__github-link,
.content__block img {
  cursor: pointer;
}

#add_terms_button:hover,
.footer__github-link:hover,
.content__block img:hover {
  opacity: 0.5;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.content__term-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  width: 800px;
}

.content__term-name {
  font-size: 86px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content__term-description {
  font-style: italic;
}

footer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px 0 30px 0;
  font-size: 20px;
}

.footer__git-img {
  height: 25px;
  padding: 0 10px 0 10px;
}


.modal__block {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 20px;
  margin-top: 40px;
  padding: 30px 50px;
}

.modal__block p {
  margin: 10px 0 10px 0;
}

.modal__block button {
  background-color: #d2d4da;
  border-radius: 5%;
  padding: 10px 50px;
  font-size: 18px;
}

#title__input,
#description__input {
  margin-right: 20px;
}

.modal__input {
  padding: 10px;
  font-size: 18px;
  width: 100%;
  border-radius: 5px;
  margin-right: 20px
}

.modal__error-message {
  font-size: 14px;
  color: red;
}